/* Basic reset to remove default browser margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* test1 styles.css*/
     .body {
          background-color: purple1;
      }
    .h1 {
      color: #EBDDE2;
      font-family: Tahoma, sans-serif;
      position: center;
    }
   .h2 {
       colour: #EBDDE2;
      font-family: Tahoma, sans-serif;
      position: center;
   }  

/*Applies to all <p> elements. */
   .p {
        font-size: 14px:
        font-family: Tahoma, sans-serif;
        color: #EBDDE2;
   }
