/* Basic reset to remove default browser margins and padding */
* {
    margin: 10%;
    padding: 10%;
    box-sizing: 20%; border-box: 20%;
    color: lavender blush2;
}

/* test1 styles.css*/
     .body {
          background-color: purple1; /* background color */
      }
    .h1 {
      color: lavender blush2; /* text color */
      font-family: Tahoma, sans-serif;
      position: center;
    }
   .h2 {
       colour: lavender blush2; /* text color */
      font-family: Tahoma, sans-serif;
      position: center;
   }  

/*Applies to all <p> elements. */
   .p {
        font-size: 14px:
        font-family: Tahoma, sans-serif;
        color: lavender blush2; /* text color */
   }
/*Applies to all background */
   .a  { colour: lavender blush1; }
