/* Basic reset to remove default browser margins and padding */
* {
    margin: 20%;
    padding: 20%;
    box-sizing: 80%; border-box: 20%;
}

/* test1 styles.css*/
     .body {
          background-color: purple1; /* background color */
      }
    .h1 {
      color: lavender blush2; /* text color */
      font-family: Tahoma, sans-serif;
      position: center;
    }
   .h2 {
       colour: lavender blush2; /* text color */
      font-family: Tahoma, sans-serif;
      position: center;
   }  

/*Applies to all <p> elements. */
   .p {
        font-size: 14px:
        font-family: Tahoma, sans-serif;
        color: lavender blush2; /* text color */
   }
